$purple: #8f00ff;
$red: #ff2500;
$orange: #ff8700;
$gray-100: #f8f9fa;
$gray-600: #d0d0d0;
$gray-900: #212529;

$green: #00b279;
$lightGray: #9fa6b2;
$blue: #0038ff;
$lightCyan: #8fc9eb;
$cyan: #3faeec;
$darkCyan: #1c6996;
$white: #ffffff;
$gray: #1b1b1b;
$black: #000000;
$darkerGrey: #141414;
$darkGrey: #181818;
