@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import 'primeicons/primeicons.css';

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.list-style-none{
  list-style-type: none;
  padding-left: 0;
}
