@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "primeicons/primeicons.css";

//default styles

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.list-style-none {
  list-style-type: none;
  padding-left: 0;
}

.radioButton {
  pointer-events: none;
}

//animations

.rotating-pulsating {
  animation: rotateAndPulse 6s infinite;
}

@keyframes rotateAndPulse {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}

//scrollbar styles

@media screen and (min-width: 993px) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--scrollbar-bg-color);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover-color);
  }
}

//dark mode styles

:root {
  --background-color: #{$white};
  --text-color: #{$black};
  --header-color: #{$cyan};
  --container-color: #{$cyan};
  --card-color: #{$white};
  --card-border-color: 1px solid #{$lightGray};
  --button-color: #{$blue};
  --button-hover-bg-color: #{$blue};
  --pagination-color: #{$white};
  --pagination-active-color: #{$blue};
  --pagination-active-border-color: #{$blue};
  --pagination-hover-color: #{$black};
  --badge-bg-color: #{$blue};
  --border: none;
  --table-bg-color: #{$white};
  --input-bg-color: #{$white};
  --input-color: #{$black};
  --filter-btn-bg-color: #{$lightGray};
  --filter-btn-color: #{$black};
  --icon-color: #{$blue};
  --modal-text-color: #{$black};
  --modal-bg-color: #{$white};
  --toast-success-color: none;
  --toast-color: #{$black};
  --scrollbar-color: #{$blue};
  --scrollbar-bg-color: #{$lightCyan};
  --scrollbar-hover-color: #{$blue};
  --userIcon-color: #{$blue};
  --dropdownMenu-color: #{$lightCyan};
  --dropdown-link-hover-bg: #{$blue};
  --switched-switchButton-bg-color: #{$blue};
  --switchButton-bg-color: #{$cyan};
  --dropdownMenu-border-color: #{$black};
  --form-bg-color: #{$cyan};
  --gear-color: #{$dark};
  --loginButton-bg-color: #{$blue};
  --loginLink-bg-color: #{$lightGray};
  --loginLink-color: #{$black};
  --loginAndRegister-bg-color: linear-gradient(#{$white}, #{$cyan});
  --backToTopButton-bg-color: #{$cyan};
}

[data-theme="dark"] {
  --background-color: #{$darkerGrey};
  --text-color: #{$white};
  --header-color: #{$gray};
  --container-color: #{$gray};
  --card-color: #{$darkGrey};
  --card-border-color: 1px solid #{$white};
  --button-color: #{$darkerGrey};
  --button-hover-bg-color: #{$wh};
  --pagination-color: #{$darkGrey};
  --pagination-active-color: #{$gray};
  --pagination-active-border-color: #{$white};
  --pagination-hover-color: #{$white};
  --badge-bg-color: #{$darkerGrey};
  --border: 1px solid #{$white};
  --table-bg-color: #{$darkGrey};
  --input-bg-color: #{$gray};
  --input-color: #{$white};
  --filter-btn-bg-color: #{$darkerGrey};
  --filter-btn-color: #{$white};
  --icon-color: #{$white};
  --modal-text-color: #{$white};
  --modal-bg-color: #{$gray};
  --toast-success-color: #{$darkerGrey};
  --toast-color: #{$white};
  --scrollbar-color: #{$lightGray};
  --scrollbar-bg-color: #{$gray};
  --scrollbar-hover-color: #{$white};
  --userIcon-color: #{$lightGray};
  --dropdownMenu-color: #{$darkGrey};
  --dropdownLink-hover-bg: none;
  --switched-switchButton-bg-color: #{$gray};
  --switchButton-bg-color: #{$lightGray};
  --dropdownMenu-border-color: #{$white};
  --form-bg-color: #{$gray};
  --gear-color: #{$white};
  --loginButton-bg-color: #{$darkerGrey};
  --loginLink-bg-color: #{$darkerGrey};
  --loginLink-color: #{$white};
  --loginAndRegister-bg-color: linear-gradient(#{$white}, #{$gray});
  --backToTopButton-bg-color: #{$lightGray};
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

nav,
div.rounded-3,
div > .darkTheme {
  background-color: var(--header-color);
}

div.card {
  background-color: var(--card-color);
  color: var(--text-color);
  border: var(--card-border-color);
}

div.card-footer {
  border-top: var(--card-border-color);
}

.buttons {
  background-color: var(--button-color);
  border: var(--border);
}

.buttons:hover {
  background-color: var(--button-hover-bg-color);
}

ul.pagination {
  --bs-pagination-bg: var(--pagination-color);
  --bs-pagination-border-color: var(--pagination-color);
  --bs-pagination-color: var(--text-color);
  --bs-pagination-active-bg: var(--pagination-active-color);
  --bs-pagination-active-border-color: var(--pagination-active-border-color);
  --bs-pagination-disabled-bg: var(--pagination-color);
  --bs-pagination-disabled-color: var(--text-color);
  --bs-pagination-disabled-border-color: var(--pagination-color);
  --bs-pagination-focus-box-shadow: none;
  --bs-pagination-hover-color: var(--pagination-hover-color);
}

span.badge {
  background-color: var(--badge-bg-color);
  border: var(--border);
}

.table > :not(caption) > * > * {
  background-color: var(--table-bg-color);
  color: var(--text-color);
}

div[data-pc-section="filterinput"] > input.form-control,
div[data-pc-section="filterinput"] > input.form-control::placeholder,
div[data-pc-section="filterinput"] > input.form-control:focus {
  background-color: var(--input-bg-color);
  color: var(--input-color);
}

button[aria-haspopup="true"],
button[data-pc-section="headerfilterclearbutton"],
tbody[role="rowgroup"] button {
  background-color: var(--filter-btn-bg-color);
  border: var(--border);
  color: var(--filter-btn-color);
}

button[aria-haspopup="true"]:hover,
button[data-pc-section="headerfilterclearbutton"]:hover,
tbody[role="rowgroup"] button:hover {
  background-color: var(--button-hover-bg-color);
}

i.fa-regular {
  color: var(--icon-color);
}

span.modal-title,
form#input_42 label.formkit-label {
  color: var(--modal-text-color);
}

div[role="dialog"] {
  background-color: var(--modal-bg-color);
}

div[role="dialog"] input.form-control,
div[role="dialog"] input.form-control:focus,
div[role="dialog"] input.form-control::placeholder {
  background-color: var(--input-bg-color);
  color: var(--input-color);
}

div[data-pc-name="toast"] div[role="alert"] {
  background-color: var(--toast-success-color);
  color: var(--toast-color);
  border: var(--border);
}

div.user-icon {
  background-color: var(--userIcon-color);
}

.dropdown-menu {
  --bs-dropdown-bg: var(--dropdownMenu-color);
  --bs-dropdown-link-hover-bg: var(--dropdownLink-hover-bg);
  --bs-dropdown-link-active-bg: none;
  --bs-dropdown-border-color: var(--dropdownMenu-border-color);
}

.form-check-input:checked {
  background-color: var(--switched-switchButton-bg-color);
  border-color: var(--switched-switchButton-bg-color);
}

.form-check-input {
  --bs-form-check-bg: var(--switchButton-bg-color);
}

.form-switch .form-check-input {
  --bs-form-switch-bg: var(--formSwitch-color);
  background-image: var(--bs-form-switch-bg);
}

form.rounded-4 {
  background-color: var(--form-bg-color);
  border: var(--border);
}

i.fa-gear {
  color: var(--gear-color);
}

.form-check-input:checked#languageSwitch {
  border: var(--border);
}

.formButton {
  background-color: var(--loginButton-bg-color);
  border: var(--border);
  color: white;
}

.formButton:hover,
.formLink:hover {
  background-color: darken($white, 50%);
}

.formLink {
  background-color: var(--loginLink-bg-color);
  border: var(--border);
  color: var(--loginLink-color);
}

.backgroundColor {
  background: var(--loginAndRegister-bg-color);
  height: 100%;
}

#toTopBtn {
  background-color: var(--backToTopButton-bg-color);
}
